* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    color: white;
}

html {
    background-color: #211F2A;
}

/* ACCUEIL */
#salutation {
    height: 250px;
    background-image: url(../Assets/img/bg_zelda2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

#salutation h2 {
    filter: brightness(150%);
    background-color: rgba(0, 0, 0, 0);
    font-size: 60px;
    color: white;
    width: 700px;
}

#my-games {
    background-color: #211F2A;
    padding: 40px 150px 0px 150px;
}

.game-card {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    margin: 15px;
}

.game-card img {
    /* width: auto; */
    height: 400px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.device {
    background-color: #211F2A;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info p {
    display: inline;
    gap: 10px;
}

.device p {
    color: grey;
    font-size: 20px;

}

.game-display a {
    transition: ease all .2s;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    min-height: 20em;
}

.game-display {
    display: flex;
    flex-wrap: wrap;
}

.game-display a:hover {
    position: relative;
    bottom: 5px;
}
