body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

/* HEADER */
header {
    background-color: #1E1B26;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

header img {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
}

/* Fin header */

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul img {
    height: 40px;
    margin-right: 20px;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: url('../Assets/img/bg_zelda.jpg') no-repeat center center/cover;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.games {
    padding: 20px;
}

.games h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.game {
    background-color: #252540;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.game h3 {
    margin: 10px 0;
    font-size: 1rem;
    color: #f39c12;
}

.game p {
    margin: 5px 0;
    color: #ccc;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f2e;
    color: #ccc;
    font-size: 0.9rem;
}