/* FOOTER */
footer {
    text-align: center;
    padding: 2%;
    position: absolute;
    bottom: 0;
    width: 96%;
    color: #ffffff;
}

/* OU FOOTER
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
*/

footer h3 {
    font-size: 16px;
}
