body {
    font-family: Barlow, sans-serif;
    background-color: #1e1e2f;
    color: white;
    margin: 0;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    background: #2a2a3d;
    border-radius: 10px;
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 30px;
    width: 25%;
    text-align: center;
}

.login-container h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #b3b3c7;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1e1e2f;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
}

.login-container input::placeholder {
    color: #b3b3c7;
}

.login-container input:focus {
    outline: none;
    border: 1px solid #6a5acd;
}

.login-container button {
    width: 30%;
    padding: 12px;
    background-color: #6a5acd;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 75%;

}

.login-container .error {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.register-btn {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: block;
    margin-top: 20px;
    transition: color 0.2s ease;
    margin-right: 100%;
}

.login-container button:hover {
    background-color: #5848a4;
}

.register-btn:hover {
    color: #5848a4;
}
