body {
    font-family: Barlow, sans-serif;
    background-color: #211F2A;
    color: white;
    margin: 0;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 8em;

    background: #252836;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 400px;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

.login-container label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #2B2F40;
    color: white;
    font-size: 14px;
}

.login-container input:focus {
    border-color: #6272a4;
    outline: none;
}

.login-container button {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.login-container button:hover {
    background-color: #5848a4;
}

.login-container .error {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.register-btn {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    margin-top: 3%;
    display: block;
}

.register-btn:hover {
    color: #5848a4;
}
